annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
async-timeout==5.0.1
attrs==25.4.0
black==25.11.0
bokeh==2.4.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
clickclick==20.10.2
colorama==0.4.6
connexion==2.14.2
contourpy==1.3.0
cryptography==3.4.7
cycler==0.12.1
datamodel-code-generator==0.30.1
deap==1.3.3
deprecation==2.1.0
dnspython==2.7.0
docopt==0.6.2
ecdsa==0.19.1
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastapi-code-generator==0.5.4
fastar==0.8.0
filelock==3.19.1
Flask==2.2.3
Flask-Cors==3.0.10
fonttools==4.60.2
fsspec==2025.10.0
genson==1.3.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.5.0
inflection==0.5.1
iniconfig==2.1.0
isort==6.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
json-tricks==3.15.5
jsonschema==4.15.0
kiwisolver==1.4.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.5.3
mdurl==0.1.2
more-itertools==10.8.0
mpmath==1.3.0
mypy_extensions==1.1.0
networkx==3.2.1
numpy==1.23.3
packaging==25.0
pandas==2.3.3
pathspec==1.0.4
patsy==1.0.2
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
ProcessOptimizer==1.0.2
pyasn1==0.6.1
pycparser==2.23
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.11.0
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pyrsistent==0.20.0
PySnooper==1.1.1
pytest==8.3.3
pytest-watch==4.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-keycloak==2.13.2
python-multipart==0.0.20
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0
redis==7.0.1
requests==2.32.5
requests-toolbelt==0.10.1
rich==14.3.2
rich-toolkit==0.18.1
rignore==0.7.6
rq==2.0.0
rsa==4.9.1
scikit-learn==1.1.2
scipy==1.9.1
sentry-sdk==2.51.0
shellingham==1.5.4
six==1.16.0
starlette==0.49.3
stringcase==1.2.0
swagger-ui-bundle==0.0.9
sympy==1.14.0
threadpoolctl==3.6.0
tomli==2.3.0
torch==2.8.0
tornado==6.5.4
typeguard==4.4.4
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.20
uvicorn==0.39.0
uvloop==0.22.1
waitress==2.1.2
watchdog==6.0.0
watchfiles==1.1.1
websockets==15.0.1
Werkzeug==2.2.3
xyzservices==2025.11.0
zipp==3.23.0
